html {
    min-height: 100%;
    position: relative;
}
body {
    height: 100%;
}

.clear-button {
    margin-top: 30px;
    height: 33px;
    width: 175px;

	color: var(--content-text);
    background-color: var(--content-background);
    border-radius: 5px;
    border: 1px solid var(--border);
}

.versions {
    order: 3;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 20px;
}

.version-type {
    margin-top: 20px;
    margin-right: auto;
}

.version-scroll {
    height: 400px;
    overflow-y: scroll;
    position: relative;
    z-index: -1;
}

.versions-toggle {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    position: absolute;
    z-index: -1;
}
.version-type-label::before {
    content: "[-]";
    font-family: monospace;
    font-weight: bolder;
    margin-right: 5px;
}
.versions-toggle:checked + .version-type-label::before {
    content: "[+]"
}
.versions-toggle:checked ~ .version-scroll {
    display: none;
}
.versions-toggle:active + .version-type-label {
    z-index: 1;
    outline: 2px solid #CCC;
}
.versions-toggle:focus + .version-type-label {
    z-index: 1;
    outline: 2px solid #999;
}

.version-type-label {
    display: flex;
    width: 165px;
    height: 25px;
    margin-bottom: 0;
    padding: 2px 5px;
    cursor: pointer;

    font-weight: bold;
    color: white;
    background-color: black;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    align-items: center;
    display: flex;
}

.version {
    height: 25px;
    padding: 2px 5px;
    cursor: pointer;
    width: 152px;
    margin: 0;

    font-weight: bold;
    color: var(--content-text);
    background-color: var(--content-background);
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    align-items: center;
    display: flex;
    position: relative;
}

.version::after {
    content: "";
    display: block;
    width: 10px;
    height: 100%;
    position: absolute;
    right: 0;
}
.version-active::after {
    background: currentColor;
}


.filters {
    order: 1;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 20px;
}

.sort {
    margin-top: 30px;
    margin-left: auto;
}

.sort select {
    height: 33px;
    width: 175px;
    text-align: center;

    border-radius: 5px;
    padding: 0 10px;
	color: var(--content-text);
    background-color: var(--content-background);
    background-image: none;
    border: 1px solid var(--border);
}
@media screen and (max-width: 1100px) {
    .sort select {
        display: block;
    }
}

.categories {
    margin-top: 20px;
    margin-left: auto;
}

.categories-label {
    color: white;
    background-color: black;

    display: flex;
    align-items: center;
    height: 25px;
    width: 165px;
    padding: 2px 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
    position: relative;
}
.categories-label * {
    margin: 0 auto;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 1em;
    color: white;
}
.categories-label::before {
    content: "[-]";
    font-family: monospace;
    font-weight: bolder;
    margin-right: 5px;
}
.categories-toggle:checked + .categories-label::before {
    content: "[+]";
}

.category-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    padding: 2px 5px;
    cursor: pointer;
    width: 165px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.category-badge img, .category-badge svg {
    height: 23px;
    width: 23px;
}

.category-badge p {
    margin: 0 auto;
    font-weight: bolder;
    text-transform: capitalize;
}

.category-ghost {
    margin-left: 10px;
}

.category-checkbox:checked + .category-badge::after {
    display: block;
    position: absolute;
    content: "";
    background: currentColor;
    width: 10px;
    height: 100%;
    right: 0;
}
.category-checkbox {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    position: absolute;
    z-index: -1;
}
.category-checkbox:focus + .category-badge {
    z-index: 1;
    outline: 2px solid #333;
}
.category-checkbox:active + .category-badge {
    z-index: 1;
    outline: 2px solid #666;
}

.categories-toggle {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    position: absolute;
    z-index: -1;
}
.categories-toggle:active ~ .categories-label {
    z-index: 1;
    outline: 2px solid #CCC;
}
.categories-toggle:focus ~ .categories-label {
    z-index: 1;
    outline: 2px solid #999;
}
.categories-toggle:checked ~ .category-badge,
.categories-toggle:checked ~ .category-checkbox {
    display: none;
}

.search-main {
    order: 2;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.search-bar {
    position: -webkit-sticky !important;
    position: sticky !important;
	color: var(--content-text);
	background-color: var(--content-background);
	border-color: var(--border);
    height: 2em;
    margin: 30px auto 15px auto;
    top: 80px;
    width: calc(100% - 20px);
    display: block;
}

.mod-info {
    padding-top: 5px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.mod-info img, .mod-info svg {
    height: 12px;
    width: 12px;
    padding: 0;
}

.mod-info span {
    font-size: 12px;
    padding-right: 15px;
    white-space: nowrap;
}
.mod-info > span > img, .mod-info > span > svg {
    padding-right: 5px;
    vertical-align: top;
}
.loader-icons > * {
    vertical-align: top;
    white-space: nowrap;
    display: inline-block;
}
.loader-icons img, .loader-icons svg {
    padding-right: 5px;
}

.results {
    width: 100%;
    margin: 0 auto;
}

.search-error {
    text-align: center;
    word-break: break-word;
}
.result {
    display: flex;
    min-height: 100px;
    margin: 15px 5px;
    padding: 5px;
    width: calc(100% - 20px);
    flex-direction: row;
    align-items: center;
    background-color: var(--content-background);
}

.result-image {
    object-fit: scale-down;
    padding: 0 10px 0 5px;
    min-width: 75px;
}
.badge-image {
    object-fit: scale-down;
    padding: 0 10px 0 5px;
}

.result-info {
    display: flex;
    flex-direction: column;
}

.result-info > * {
    padding: 0 5px 0 0;
    margin: 0;
}

.result-title {
    text-decoration: none;
}
.result-title * {
    display: inline;
    padding-right: 5px;
}
.result-name > * {
    margin: 0;
}
.result-author-container {
    word-break: break-word;
    display: inline-block;
}

.result-name {
    text-decoration: none;
    color: var(--highlight);
    word-break: break-word;
}

.result-author {
    text-decoration: none;
    color: #0077ca;
}

.result-badges {
    margin: 0 1em 0 auto;
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.result-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    margin: 2px 0;
    padding: 2px 5px;
    width: 155px;
}

.result-badge img, .result-badge svg {
    height: 23px;
    width: 23px;
}

.result-badge p {
    margin: 0 auto;
    font-weight: bolder;
    text-transform: capitalize;
}

@media screen and (max-width: 1340px) {
    .result-badges {
        margin-right: 5px;
    }
    .result-badge {
        width: initial;
    }
    .result-badge > p {
        display: none;
    }
}

.download-badge {
    background-color: limegreen;
    color: white;
}

.forge-badge {
    color: #e1a15a;
    background-color: #1e2d44;
}

.fabric-badge {
    color: #585849;
    background-color: #fffdd0;
}

.tech-badge {
    color: white;
    background-color: var(--tech-color);
}

.adventure-badge {
    color: white;
    background-color: var(--adventure-color);
}

.magic-badge {
    color: white;
    background-color: var(--magic-color);
}

.utility-badge {
    color: white;
    background-color: var(--utility-color);
}

.decoration-badge {
    color: white;
    background-color: var(--decoration-color);
}

.worldgen-badge {
	color: white;
	background-color: var(--world-color);
}

.library-badge {
    color: white;
    background-color: var(--library-color);
}

.cursed-badge {
    color: white;
    background-color: var(--cursed-color);
}

.misc-badge {
    color: white;
    background-color: var(--misc-color);
}

.storage-badge {
    color: white;
    background-color: var(--storage-color);
}


.food-badge {
    color: white;
    background-color: var(--food-color);
}

.equipment-badge {
    color: white;
    background-color: var(--equipment-color);
}

svg.forge {
    height: 12px;
    width: auto;
	fill: var(--forge-color);
}

.back-to-top-wrapper {
    position: absolute;
    height: 100%;
    /* left column = 25%, width ~= 90px, left column padding = 20px */
    /* left: calc(25% - 90px - 20px); */
    right: calc(25% - 90px - 20px);
    pointer-events: none;
}
.back-to-top-wrapper > .filler {
    height: 100vh;
}

.back-to-top {
    display: block;
    position: sticky;
    top: 80%;
    padding: 10px;
    background-color: var(--highlight);
    text-align: center;
    pointer-events: initial;
    z-index: 10;
}

.back-to-top img {
    width: 40px;
    height: 40px;
}

.collapsible-header::before {
    content: "[-]";
    font-family: monospace;
    font-weight: bolder;
    margin-right: 5px;
}
.collapsible-header.collapsed::before {
    content: "[+]";
}
.collapsible-header.collapsed ~ * {
    display: none;
}

@media screen and (max-width: 900px) {
    .main-flex {
        display: grid;
        grid-template-areas: "search filters"
          "search versions"
          "search .";
        grid-template-columns: 1fr 210px;
    }
    .search-main {
        grid-area: search;
        width: 100%;
    }
    .filters {
        grid-area: filters;
        margin-right: 0;
        margin-left: 20px;
        width: calc(100% - 20px);
    }
    .filters * {
        margin-left: 0;
    }
    .versions {
        grid-area: versions;
        margin-right: 0;
        margin-left: 20px;
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 600px) {
    .main-flex {
        display: block;
    }
    .search-main {
        width: 100%;
    }
    .filters {
        display: none;
    }
    .versions {
        display: none;
    }
    .back-to-top-wrapper {
        right: 10px;
    }
}
